body {
    background-color:darkslategray;
    color: white;
}

p {
  text-align: center;  
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

#counter {
    color: yellow;
}
#elgato{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#elgato:hover {
    box-shadow: 10px 10px 5px black;
}

button{
    color: pink;
    background-color:black;
    padding: 5px 10px;
    font-size: 1rem;
    overflow: hidden;
    border: 1px solid black;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#upgrade1 {
    color: aqua;
}
#upgrade2 {
    color: greenyellow;
}
#upgrade3 {
    color: coral;
}
